
.custombtn {
    width: 150px !important;
}


.myborder{
  border-style: solid;
  border-color: blue;
  border-width: 5px;
}
.linkimg{
  cursor: pointer;
}



img.imagePressed {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
}

.shadow {
    box-shadow: 0 0 10px black;
    padding:0 15px 0 15px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
