
   <html lang="en" ng-app="userApp">
   <head>
     <meta charset="utf-8">
     <title>app</title>
     <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
     <link rel="stylesheet" href="css/buttons.css">
     <script src="js/angular.js"></script>
     <script src="js/ng-file-upload-shim.js"></script>
     <script src="js/ng-file-upload.js"></script>
     <script src="js/controllers.js"></script>
         <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css" />
         <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
         <link rel="stylesheet" href="css/mycss.css">
         <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
         <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>

   </head>
   <body ng-controller="userAppCtrl">
     <!-- script for focus on first input-->
     <script type="text/javascript">
          $(function() {
              $("#InputName").focus();
          });
      </script>

    <div class= " vertical-center">
      <div ng-if="finish" class="container col-sm-1" ng-class="{shadow:showSave }">FINISH</div>
      <div ng-if="!finish" class="container col-sm-6 " ng-class="{shadow:showSave }" >
        <div class="row">
          <div class="col-sm-12"><p>USER</p></div>
        </div>
        <div class="row"  ng-if="errorMsg!=false">
        <div ng-click="setErrorFalse()" class="alert alert-danger fade in">
            <a href="#"  class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> {{errorMsg}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 " ng-class="{shadow:!showSave }">
          <div class="col-sm-5 pull-left" >
              <img width="120px" height="120px" class="btn-link" ng-click="showFlag=true;showSave=false" ng-src="{{userDetails.pictureURL}}"></img>

          </div>

          <div class="col-sm-7">

            <form role="form">
                          <div class="input-group">
                            <span class="glyphicon glyphicon-tag"></span>
                            <input type="text" class="form-control" name="InputName" id="InputName" ng-model="userDetails.displayName" placeholder="User Full Name" required>
                        </div>
                    <div class="input-group">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <input type="text" for="inputEmail" class="form-control" id="InputEmailFirst" ng-model="userDetails.userName" name="InputEmail" placeholder="Email Address"  required>
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-pencil"></span>
                            <input type="text" class="form-control" id="Inputdesc" name="InputEmail" ng-model="userDetails.description"  placeholder="Description (Optional)">
                    </div>
          </div>
        </div>
              <!--   <div class="col-sm-2" style="background-color:yellow;">

        original sub
          </div>-->

          <div class="col-sm-5 shadow" ng-show="showFlag">
            <div class="row">
            <div class=" col-sm-6"><p>SELECT USER</p></div>
            <div class=" col-sm-6"><span align="right" class="btn-link glyphicon glyphicon-remove pull-right" ng-click="showFlag=false;showSave=true"></span></div>
          </div>
          <div class="row">
            <div ng-repeat="pic in pictures" class="col-sm-3">
                <a class="imageLink">
                  <img ng-class="{imagePressed: isPressed(pic.url)}" class="linkimg img-circle" ng-click="SetSelectedImage(pic.url)"  ng-src="{{pic.url}}" width="50" height="50"></img>
                </a>
        </div>
        <div class="col-sm-3">
        <button width="60" type="file" ngf-select="uploadFiles($file, $invalidFiles,userDetails)"
                accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="button button-primary button-circle button-big"><i class="fa fa-plus"></i></button>
        </div>
        <div class="col-md-12" align="center"><button  type="button" class="btn btn-info" ng-click="updatePicture(selectedImage)">Select Image</button></div>

        </div>
            <div class="col-sm-3" style="background-color:pink;">
          </div>

        </div>


      </div>
      <div class="row">
        <div ng-init="showSave=true" ng-show="showSave" class="col-sm-11">
        <input type="submit" name="submit" id="submit" ng-click="send(userDetails)"  value="Save" class="btn btn-primary pull-right custombtn">
        </div>
      </div>
    </div>
  </form>
</div>
</div>
   </body>

   </html>
